.layout {
  height: 100%;
  width: 100%;
  max-width: 50rem;
  padding-left: 2.5rem;
  padding-right: 1rem;

  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  grid-template-rows: min-content 1fr;
  gap: 0.5rem;
  justify-items: start;
  align-items: center;
}


ul.sections {
  grid-column: span 3;
  width: 100%;
  margin-top: 2rem;
  margin-left: -1.5rem;

  align-self: start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2.5rem;
}

button.addSection {
  position: relative;
  top: unset;
  bottom: unset;
  width: max-content;
  opacity: 1;
}


.advancedEdit {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;

  justify-content: center;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(0, 204, 255, 0.4);
  border-radius: 50%;

  cursor: pointer;
  transition:
    background-color 0.1s ease-in-out,
    text-shadow 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

input:checked ~ .advancedEdit {
  background-color: rgba(0, 204, 255, 0.2);
  text-shadow: -0.1px -0.1px 0px white, -0.1px -0.1px 1px black;
  box-shadow: inset 1.5px 1.5px 3px 0px white, inset -2px -2px 3px 0px black;
}

@media only screen and (max-width: 30rem) {
  .layout { grid-template-rows: repeat(2, min-content) 1fr; }
  .advancedEdit { display: flex; }
}